<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>

<body class="light">
    <header>
        <nav>
            <div class="brand">
                <a href="#">Cronny</a>
            </div>
            <div class="links">
                <ul>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Create</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><button role="button">Dark Mode</button></li>
                </ul>
            </div>

        </nav>
    </header>
    <main id="root">
        <section id="controls">
            <h1>Jobs for Scheduler</h1>
            <form id="controls-form" action="#" method="POST" >
                <div class="group">
                    <span>Date</span>
                    <input type="date" placeholder="Job Date" value="2019-08-22"/>
                </div>
                <div class="group">
                        <span>Job Name</span>
                        <input type="text" placeholder="Job Name" />
                </div>
                <button role="reset">Reset</button>  
                <button role="submit">Search</button>  
            </form>
        </section>
        <section id="jobcontrols">
            <h3>Controls</h3>
            <button role="button">Initiate</button>
            <button role="button">Kill</button>
            <button role="button">Log</button>
        </section>
        <section id="statuschart">
            <table>
                <thead>
                    <tr>
                        <th>Jobname</th>
                        <th>Status</th>
                        <th>Starttime</th>
                        <th>Endtime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" id="jobfilter"/></td>
                        <td><input type="text" id="statusfilter"/></td>
                        <td><input type="text" id="starttimefilter"/></td>
                        <td><input type="text" id="endtimefilter"/></td>
                    </tr>
                    <tr>
                        <td>/jobs/mycoso/dbbackup/backupall</td>
                        <td class="run">Running</td>
                        <td>10:00:09 PM IST</td>
                        <td>10:03:01 PM IST</td>
                    </tr>
                    <tr>
                            <td>/jobs/mycoso/dbbackup/backup_customers</td>
                            <td class="fail">Failed</td>
                            <td>10:00:09 PM IST</td>
                            <td>10:03:01 PM IST</td>
                        </tr>
                        <tr>
                                <td>/jobs/mycoso/dbbackup/backup_requestsamples</td>
                                <td class="done">Done</td>
                                <td>10:00:09 PM IST</td>
                                <td>10:03:01 PM IST</td>
                            </tr>
                </tbody>
            </table>
        </section>
    </main>
    
</body>

</html>