header
    nav
        .brand
            a(href="#") Cronny
        .links
            ul
                li
                    a(href="#") Jobs
                li
                    a(href="#") Create
                li
                    a(href="#") Settings
                li
                    button(role="button") Dark Mode
