
html
    head
        link(rel="stylesheet", href="/styles/main.css")
    body
        include header.pug
        main
            include jobscontrols.pug
            include jobactions.pug
            - var jobsdata = jobs || []
            include jobtable.pug
    script(src="/js/main.js")