section#controls
    h1 Jobs for Scheduler
    form(id="controls-form", action="/jobsearch" ,method="POST")
        .group
            span Date
            input(type="text", placeholder="Job Date", value="2019-08-22")
        .group
            span Job Name
            input(type="text", placeholder="Job Name")
        button(role="reset") Reset
        button(role="submit") Search
